@font-face {
  font-family: "Digital Numbers";
  src: url("/fonts/digital-numbers-font/dist/DigitalNumbers-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* =====================
     Base
  ====================== */
  --font-base: "Pretendard";
  --font-timer: "Digital Numbers";

  /* =====================
     Timer
  ====================== */
  --font-timer-r: 400 154px/200px "Digital Numbers";

  /* =====================
     Heading
  ====================== */
  --font-heading-b: 700 24px/30px "Pretendard";
  --font-heading-s: 600 24px/30px "Pretendard";
  --font-heading-m: 500 24px/30px "Pretendard";
  --font-heading-r: 400 24px/30px "Pretendard";

  /* =====================
     Title
  ====================== */
  --font-title-b: 700 20px/24px "Pretendard";
  --font-title-s: 600 20px/24px "Pretendard";
  --font-title-m: 500 20px/24px "Pretendard";
  --font-title-r: 400 20px/24px "Pretendard";

  /* =====================
     Subtitle
  ====================== */
  --font-subtitle-b: 700 18px/22px "Pretendard";
  --font-subtitle-s: 600 18px/22px "Pretendard";
  --font-subtitle-m: 500 18px/22px "Pretendard";
  --font-subtitle-r: 400 18px/22px "Pretendard";

  /* =====================
     Body
  ====================== */
  --font-body-b: 700 16px/20px "Pretendard";
  --font-body-s: 600 16px/20px "Pretendard";
  --font-body-m: 500 16px/20px "Pretendard";
  --font-body-r: 400 16px/20px "Pretendard";

  /* =====================
     Body Small
  ====================== */
  --font-body-small-b: 700 14px/18px "Pretendard";
  --font-body-small-s: 600 14px/18px "Pretendard";
  --font-body-small-m: 500 14px/18px "Pretendard";
  --font-body-small-r: 400 14px/18px "Pretendard";

  /* =====================
     Caption
  ====================== */
  --font-caption-b: 700 12px/16px "Pretendard";
  --font-caption-s: 600 12px/16px "Pretendard";
  --font-caption-m: 500 12px/16px "Pretendard";
  --font-caption-r: 400 12px/16px "Pretendard";

  /* =====================
     Label
  ====================== */
  --font-label-b: 700 10px/12px "Pretendard";
  --font-label-s: 600 10px/12px "Pretendard";
  --font-label-m: 500 10px/12px "Pretendard";
  --font-label-r: 400 10px/12px "Pretendard";
}
