@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

@theme {
  /* =====================
     Heading
  ====================== */
  --font-heading-b: 700 24px/30px "Pretendard";
  --font-heading-s: 600 24px/30px "Pretendard";
  --font-heading-m: 500 24px/30px "Pretendard";
  --font-heading-r: 400 24px/30px "Pretendard";

  /* =====================
     Title
  ====================== */
  --font-title-b: 700 20px/24px "Pretendard";
  --font-title-s: 600 20px/24px "Pretendard";
  --font-title-m: 500 20px/24px "Pretendard";
  --font-title-r: 400 20px/24px "Pretendard";

  /* =====================
     Sub title
  ====================== */
  --font-subtitle-b: 700 18px/22px "Pretendard";
  --font-subtitle-s: 600 18px/22px "Pretendard";
  --font-subtitle-m: 500 18px/22px "Pretendard";
  --font-subtitle-r: 400 18px/22px "Pretendard";

  /* =====================
     Body
  ====================== */
  --font-body-b: 700 16px/20px "Pretendard";
  --font-body-s: 600 16px/20px "Pretendard";
  --font-body-m: 500 16px/20px "Pretendard";
  --font-body-r: 400 16px/20px "Pretendard";

  /* =====================
     Body Small
  ====================== */
  --font-body-small-b: 700 14px/18px "Pretendard";
  --font-body-small-s: 600 14px/18px "Pretendard";
  --font-body-small-m: 500 14px/18px "Pretendard";
  --font-body-small-r: 400 14px/18px "Pretendard";

  /* =====================
     Caption
  ====================== */
  --font-caption-b: 700 12px/16px "Pretendard";
  --font-caption-s: 600 12px/16px "Pretendard";
  --font-caption-m: 500 12px/16px "Pretendard";
  --font-caption-r: 400 12px/16px "Pretendard";

  /* =====================
     Label
  ====================== */
  --font-label-b: 700 10px/12px "Pretendard";
  --font-label-s: 600 10px/12px "Pretendard";
  --font-label-m: 500 10px/12px "Pretendard";
  --font-label-r: 400 10px/12px "Pretendard";
}
